---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const tp = useTranslatedPath(lang);
---

<footer class='w-full'>
  <hr class='border-gray-800/40 dark:border-lavender my-2 opacity-30' />
  <div class='w-full max-w-screen-xl mx-auto p-4 md:py-8'>
    <div
      class='max-w-[740px] lg:w-[740px] mx-auto flex items-center justify-center mb-4'
    >
      <ul
        class='flex flex-wrap items-center text-sm font-medium text-slate-800/60 dark:text-lavender/60'
      >
        <li>
          <a
            href={`${tp('', lang)}#top`}
            class='hover:underline hover:text-electric-purple transition-colors me-4 md:me-6 hover:font-bold'
            >{t('nav.home')}</a
          >
        </li>
        <li>
          <a
            href={tp('about', lang)}
            class='hover:underline hover:text-electric-purple transition-colors me-4 md:me-6'
            >{t('nav.about')}</a
          >
        </li>
        <li>
          <a
            href={tp('projects', lang)}
            class='hover:underline hover:text-electric-purple transition-colors'
            >{t('nav.projects')}</a
          >
        </li>
      </ul>
    </div>
    <span
      class='block text-sm text-center text-slate-800/60 dark:text-lavender/60'
    >
      © 2024
      <a
        target='_blank'
        referrerpolicy='no-referrer'
        href='https://github.com/juanda15'
        class='hover:underline hover:text-electric-purple transition-colors'
        >juanda15</a
      >. {t('footer.rights')}.</span
    >
  </div>
</footer>
