---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from '../i18n/utils';
import LanguagePicker from './LanguagePicker.astro';
import ThemePicker from './ThemePicker.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const tp = useTranslatedPath(lang);
const currentPath = Astro.url.pathname;

const links = [
  {
    link: tp('/', lang),
    text: t('nav.home'),
  },
  {
    link: tp('/about', lang),
    text: t('nav.about'),
  },
  {
    link: tp('/projects', lang),
    text: t('nav.projects'),
  },
];
---

<header
  class={`
    w-full xl:w-[1120px]
    mx-auto py-4 px-3
    flex justify-between items-center gap-x-3
    sticky top-0
    bg-gray-200 dark:bg-black
    z-20
`}
>
  <nav
    class={`
      flex flex-row gap-4 md:gap-10 
      text-sm xl:text-base 
      text-slate-800 dark:text-lavender
    `}
  >
    {
      links.map(({ link, text }) => (
        <a
          class={`
            px-2 py-1
            transition-colors
          hover:text-electric-purple
            ${link === currentPath ? 'text-electric-purple font-bold underline underline-offset-2' : ''}
          `}
          href={link}
        >
          {text}
        </a>
      ))
    }
  </nav>

  <div class='flex flex-col md:flex-row gap-2 items-center'>
    <LanguagePicker />
    <ThemePicker />
  </div>
</header>
