---
import {
  getLangFromUrl,
  getRouteFromUrl,
  useTranslatedPath,
  useTranslations,
} from '../i18n/utils';
import LanguagePicker from './LanguagePicker.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const tp = useTranslatedPath(lang);
const route = getRouteFromUrl(Astro.url) ?? '/';

const links = [
  {
    link: tp('/', lang),
    text: t('nav.home'),
  },
  {
    link: tp('/about', lang),
    text: t('nav.about'),
  },
  {
    link: tp('/projects', lang),
    text: t('nav.projects'),
  },
];
---

<header
  class={`
  w-full xl:w-[1120px]
  flex justify-between items-center gap-x-3
  py-5 px-3
`}
>
  <nav
    id='header-links'
    class={`
      flex
      flex-row gap-4 md:gap-10 
      text-xs md:text-sm xl:text-base 
    `}
  >
    {
      links.map(({ link, text }) => (
        <a
          class={`
            px-2 py-4
            rounded-md
            transition-colors
            hover:bg-electric-purple/10 hover:text-electric-purple
            active:bg-electric-purple/30 active:text-electric-purple
            ${link.replace('/', '') === tp(route).replace('/', '') ? 'bg-electric-purple/30 text-electric-purple' : ''}
          `}
          href={link}
        >
          {text}
        </a>
      ))
    }
  </nav>

  <LanguagePicker />
</header>
