---
const links = [
  {
    link: '#top',
    text: 'Home',
  },
  {
    link: '#experience',
    text: 'Experience',
  },
  {
    link: '#about',
    text: 'About',
  },
  {
    link: '#projects',
    text: 'Projects',
  },
  {
    link: '#contact',
    text: 'Contact',
  },
];
---

<header
  class={`
  w-full xl:w-[1120px]
  flex justify-center items-center gap-x-3
  py-5 px-3
`}
>
  <nav
    id='header-links'
    class={`
      flex
      flex-row gap-4 md:gap-10 
      text-xs md:text-sm xl:text-base 
    `}
  >
    {
      links.map(({ link, text }) => (
        <a
          class={`
            px-2 py-4
            rounded-md
            transition-colors
            hover:bg-electric-purple/10 hover:text-electric-purple
            active:bg-electric-purple/30 active:text-electric-purple
          `}
          href={link}
        >
          {text}
        </a>
      ))
    }
  </nav>
</header>
