---
import { languages } from '@/i18n';
import {
  getLangFromUrl,
  getRouteFromUrl,
  useTranslatedPath,
} from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const route = getRouteFromUrl(Astro.url) ?? '/';
const tp = useTranslatedPath(lang);
---

<div
  class='w-fit inline-flex rounded-full shadow-sm border border-gray-400 dark:border-slate-800 p-1'
  role='group'
>
  {
    Object.keys(languages).map((language) => (
      <a
        aria-label={`Language ${languages[language as 'es' | 'en'].label}`}
        role='button'
        href={`${tp(route, language)}`}
        class={`
          px-2 py-1 
          font-light
          text-xs md:text-sm  text-slate-800 dark:text-white
          transition-colors
          select-none
          hover:text-white hover:bg-electric-purple/20
          active:bg-electric-purple
          rounded-full
          ${lang === language ? 'bg-electric-purple/90 text-white' : ''}
        `}
      >
        {language.toLocaleUpperCase()}
      </a>
    ))
  }
</div>
