---
import { TAGS } from '../constants';
import ProjectItem from './ProjectItem.astro';
import Button from './Button.astro';

const PROJECTS = [
  {
    title: 'MapBox App - React',
    description:
      'Mapbox gl - library Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae qui cupiditate numquam eos vero distinctio suscipit delectus! Odit quasi, qui totam voluptates unde ducimus quibusdam voluptatibus blanditiis nam eligendi doloremque!',
    link: '',
    github: 'https://github.com/JuanDa15/mapbox-app-react',
    image: '/projects/svgl.webp',
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: 'Country finder - Angular',
    description:
      'Rest countries api Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae qui cupiditate numquam eos vero distinctio suscipit delectus! Odit quasi, qui totam voluptates unde ducimus quibusdam voluptatibus blanditiis nam eligendi doloremque!',
    link: '',
    github: 'https://github.com/JuanDa15/country-finder-angular',
    image: '/projects/svgl.webp',
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: 'Giphy App - Angular',
    description:
      'Using giphy service api Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae qui cupiditate numquam eos vero distinctio suscipit delectus! Odit quasi, qui totam voluptates unde ducimus quibusdam voluptatibus blanditiis nam eligendi doloremque!',
    link: '',
    github: 'https://github.com/JuanDa15/graph-app-angular',
    image: '/projects/svgl.webp',
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: 'Mapbox App - Angular',
    description:
      'Using giphy service api Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae qui cupiditate numquam eos vero distinctio suscipit delectus! Odit quasi, qui totam voluptates unde ducimus quibusdam voluptatibus blanditiis nam eligendi doloremque!',
    link: '',
    github: 'https://github.com/JuanDa15/maps-app-angular',
    image: '/projects/svgl.webp',
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: 'Spotify Preview - Angular',
    description:
      'Using giphy service api Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae qui cupiditate numquam eos vero distinctio suscipit delectus! Odit quasi, qui totam voluptates unde ducimus quibusdam voluptatibus blanditiis nam eligendi doloremque!',
    link: '',
    github: 'https://github.com/JuanDa15/Spotify-Previews-Angular',
    image: '/projects/svgl.webp',
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: 'Movies App - Angular',
    description:
      'Using the movie DB api api Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae qui cupiditate numquam eos vero distinctio suscipit delectus! Odit quasi, qui totam voluptates unde ducimus quibusdam voluptatibus blanditiis nam eligendi doloremque!',
    link: '',
    github: 'https://github.com/JuanDa15/Spotify-Previews-Angular',
    image: '/projects/svgl.webp',
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
  {
    title: 'Giphy App - React',
    description:
      'Using giphy service api Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae qui cupiditate numquam eos vero distinctio suscipit delectus! Odit quasi, qui totam voluptates unde ducimus quibusdam voluptatibus blanditiis nam eligendi doloremque!',
    link: '',
    github: '  https://github.com/JuanDa15/Gif-App-React',
    image: '/projects/svgl.webp',
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
];
---

<section
  id='projects-slider'
  class={`
    flex flex-row gap-4 
    overflow-x-auto scroll-smooth snap-x snap-mandatory 
    py-4 mx-auto
    w-[290px] md:w-[590px] lg:w-[740px]
  `}
>
  {PROJECTS.map((project) => <ProjectItem {...project} />)}
</section>

<div class='flex justify-between my-4'>
  <Button id='prev-btn'>
    <svg
      class='w-3.5 h-3.5 me-2 rtl:rotate-180'
      aria-hidden='true'
      fill='none'
      viewBox='0 0 14 10'
    >
      <path
        stroke='currentColor'
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='2'
        d='M13 5H1m0 0 4 4M1 5l4-4'></path>
    </svg>
    Previous
  </Button>
  <Button id='next-btn'>
    Next
    <svg
      class='w-3.5
    h-3.5
    ms-2
    rtl:rotate-180'
      aria-hidden='true'
      fill='none'
      viewBox='0 0 14 10'
    >
      <path
        stroke='currentColor'
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='2'
        d='M1 5h12m0 0L9 1m4 4L9 9'></path>
    </svg>
  </Button>
</div>

<script>
  // TODO: MIRAR COMO SOLUCIONAR EL BUG DE LOS listeners
  let slider$: HTMLElement | null = document.getElementById('projects-slider');
  let prevBtn$: HTMLElement | null = document.getElementById('prev-btn');
  let nextBtn$: HTMLElement | null = document.getElementById('next-btn');

  function clickHandler(event: MouseEvent) {
    if (!slider$) return;

    const { id } = event.target as HTMLElement;

    const isDecrement = id.includes('prev');
    const isIncrement = id.includes('next');

    let sliderScrollWidth = slider$.scrollWidth;
    const currentScroll = slider$.scrollLeft;

    if (isIncrement) {
      const width = slider$.offsetWidth;
      const newScroll = currentScroll + width;

      if (newScroll >= sliderScrollWidth) {
        slider$.scrollLeft = 0;
        return;
      }
      slider$.scrollLeft = currentScroll + width;
      return;
    }

    if (isDecrement) {
      const width = -slider$.offsetWidth;
      const newScroll = currentScroll + width;

      if (newScroll <= width) {
        slider$.scrollLeft = sliderScrollWidth + width;
        return;
      }
      slider$.scrollLeft = currentScroll + width;
      return;
    }
  }
  prevBtn$?.addEventListener('click', clickHandler);
  nextBtn$?.addEventListener('click', clickHandler);
</script>

<style>
  #projects-slider {
    scrollbar-width: none;
  }
</style>
