---
import ComputerIcon from '@/icons/ComputerIcon.astro';
import MoonIcon from '@/icons/MoonIcon.astro';
import SunIcon from '@/icons/SunIcon.astro';
---

<div
  class='flex flex-row gap-2 items-center border rounded-full p-1 border-gray-400 dark:border-slate-800'
  '
>
  <button
    data-theme-btn
    class='p-1 rounded-full text-slate-800 dark:text-lavender transition-colors hover:bg-gray-400 dark:hover:bg-slate-800'
    data-theme='system'
  >
    <ComputerIcon class='size-4 md:size-5' />
  </button>
  <button
    data-theme-btn
    class='p-1 rounded-full text-slate-800 dark:text-lavender transition-colors hover:bg-gray-400 dark:hover:bg-slate-800'
    data-theme='light'
  >
    <SunIcon class='size-4 md:size-5' />
  </button>
  <button
    data-theme-btn
    class='p-1 rounded-full text-slate-800 dark:text-lavender transition-colors hover:bg-gray-400 dark:hover:bg-slate-800'
    data-theme='dark'
  >
    <MoonIcon class='size-4 md:size-5' />
  </button>
</div>

<script>
  import { getSystemTheme } from '@/utils/system-theme';
  import { $, $$ } from '@/utils/helpers';

  function clickHandler(ele: HTMLElement | Element) {
    return () => {
      const target = ele as HTMLButtonElement;
      const { theme = 'dark' } = target.dataset;
      localStorage.setItem('theme', theme);
      updateRender(theme, target);
    };
  }

  function getThemeToApply(theme: string) {
    return theme === 'system' ? getSystemTheme() : theme;
  }

  function init() {
    const theme = localStorage.getItem('theme') ?? 'dark';
    updateRender(theme, $(`[data-theme=${theme}]`)!);
  }

  function updateRender(theme: string, btn: HTMLElement | Element) {
    const activeClasses = ['bg-electric-purple', 'text-white'];

    $$('[data-theme-btn]').forEach((button) => {
      activeClasses.forEach((className) => {
        button.classList.contains(className) &&
          button.classList.remove(className);
      });
    });
    btn.classList.add(...activeClasses);

    const html = $('html') as HTMLElement;

    html?.setAttribute('class', getThemeToApply(theme));
    html.style.scrollbarColor =
      getThemeToApply(theme) === 'dark' ? '#9b30ff #000000' : '#9b30ff #e5e7eb';
  }

  document.addEventListener('astro:page-load', () => {
    init();

    $$('[data-theme-btn]').forEach((btn) => {
      const ele = btn as HTMLButtonElement;
      ele.addEventListener('click', clickHandler(ele));
    });
  });

  document.addEventListener('astro:before-swap', () => {
    $$('[data-theme-btn]').forEach((btn) => {
      const ele = btn as HTMLButtonElement;
      ele.removeEventListener('click', clickHandler(ele));
    });
  });
</script>
