---
import { ClientRouter } from 'astro:transitions';
import Footer from '../components/Footer.astro';
import Header from '../components/layout/Header.astro';
import '@fontsource-variable/onest';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale} class='dark'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class='bg-gray-200 dark:bg-black min-h-screen'>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  html {
    font-family:
      'Onest Variable',
      system-ui,
      -apple-system,
      sans-serif;
    color-scheme: dark light;
    scroll-behavior: smooth;
    scrollbar-color: #9b30ff rgb(0, 0, 0);
    scrollbar-width: thin;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  @media (prefers-color-scheme: dark) {
    html {
      scrollbar-color: #9b30ff #000000;
    }
  }
  @media (prefers-color-scheme: light) {
    html {
      scrollbar-color: #9b30ff #e5e7eb;
    }
  }
</style>
